In [1]:
#!/usr/bin/python3
import pymysql

In [2]:
db = pymysql.connect(host='localhost', port=3306,user='root',passwd='miaohao')

In [3]:
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
 
# 使用 execute()  方法执行 SQL 查询 
cursor.execute("SELECT VERSION()")
 
# 使用 fetchone() 方法获取单条数据.
data = cursor.fetchone()
 
print ("Database version : %s " % data)
 
# 关闭数据库连接
db.close()

Database version : 8.0.20

In [53]:

# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
cursor.execute("use miaohao")
# 使用 execute() 方法执行 SQL，如果表存在则删除
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")
 
# 使用预处理语句创建表
sql = """CREATE TABLE test (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""
 
cursor.execute(sql)

0

In [56]:
sql="INSERT INTO EMPLOYEE VALUES ('hao','miao','19','m','16')"

In [57]:
cursor.execute(sql)

1

In [40]:
cursor.execute("desc EMPLOYEE")

5

In [4]:
sql="SELECT * FROM EMPLOYEE"

In [5]:
results = cursor.fetchall()

In [6]:
print(results)

()

In [7]:
for result in results:
    print(result)